<!-- List of books -->
{@java.util.List<com.sthompson.readingList.BookEntity> books}
<div id="book-list">
    {#if books.isEmpty}
        <div class="alert alert-info">
            <span>No books found.</span>
        </div>
    {#else}
    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody id="book-table-body">
                {#for book in books}
                <tr>
                    <td>{book.title}</td>
                    <td>{book.authors}</td>
                </tr>
                {/for}
            </tbody>
        </table>
    </div>
    {/if}
</div>